In [1]:
import numpy as np
import pandas as pd
import time as time

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\Salty\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [4]:
url = 'https://redplanetscience.com/'
browser.visit(url)
time.sleep(2)
html = browser.html
browser.quit()

In [5]:
Data = BeautifulSoup(html, "html.parser")
news_date = Data.find('div',class_="list_date").text
news_title = Data.find('div',class_="content_title").text
news_text = Data.find('div',class_="article_teaser_body").text

In [6]:
print(news_date)
print(news_title)
print(news_text)

October 1, 2021
NASA's Curiosity Mars Rover Takes a New Selfie Before Record Climb
Along with capturing an image before its steepest ascent ever, the robotic explorer filmed its "selfie stick," or robotic arm, in action.

In [7]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://spaceimages-mars.com/'
browser.visit(url)
time.sleep(2)
html = browser.html
browser.quit()

In [8]:
Data = BeautifulSoup(html, "html.parser")
images = Data.find_all('img')
featured_image_url =  url + images[1]['src']
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [9]:
url = 'https://galaxyfacts-mars.com'
mars_data = pd.read_html(url)
mars_df1 = pd.DataFrame(mars_data[0])
mars_df1

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
head = mars_df1.index[[0]]
mars_df1.drop(head, inplace=True)
mars_df1.drop(columns=[2], inplace=True)
mars_df1.reset_index()
mars_df1.rename(columns={0: "Attribute", 1: "Value"}, inplace=True)
mars_df1.head()

            Attribute            Value
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days

In [11]:
mars_df2 = pd.DataFrame(mars_data[1])
mars_df2.rename(columns={0: "Attribute", 1: "Value"}, inplace=True)
mars_df2

              Attribute                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
mars_df = mars_df1.append(mars_df2, ignore_index=True).copy()
mars_df

               Attribute                          Value
0              Diameter:                       6,779 km
1                  Mass:                6.39 × 10^23 kg
2                 Moons:                              2
3     Distance from Sun:                 227,943,824 km
4        Length of Year:                 687 Earth days
5           Temperature:                   -87 to -5 °C
6   Equatorial Diameter:                       6,792 km
7        Polar Diameter:                       6,752 km
8                  Mass:  6.39 × 10^23 kg (0.11 Earths)
9                 Moons:          2 ( Phobos & Deimos )
10       Orbit Distance:       227,943,824 km (1.38 AU)
11         Orbit Period:           687 days (1.9 years)
12  Surface Temperature:                   -87 to -5 °C
13         First Record:              2nd millennium BC
14          Recorded By:           Egyptian astronomers

In [13]:
fact_table_html = mars_df.to_html()
print(fact_table_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>13</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [14]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)
time.sleep(2)
html = browser.html
browser.quit()
Data = BeautifulSoup(html, "html.parser")

In [15]:
image_descr = []
for descr in Data.find_all('h3'):
    image_descr.append(descr.text)
    
hemi_descr_df = pd.DataFrame(image_descr)
hemi_descr_df

                                      0
0          Cerberus Hemisphere Enhanced
1      Schiaparelli Hemisphere Enhanced
2      Syrtis Major Hemisphere Enhanced
3  Valles Marineris Hemisphere Enhanced
4                                  Back

In [16]:
image_urls = []
for line in Data.find_all('a', href=True):
    href_str = str(line['href'])
    extn = "html"
    if extn in href_str:
        image_urls.append(href_str)

image_df = pd.DataFrame(image_urls)
image_df.drop_duplicates(inplace=True)
image_df.rename(columns={0: "tail"}, inplace=True)
image_df

                tail
0      cerberus.html
2  schiaparelli.html
4        syrtis.html
6        valles.html

In [17]:
browser = Browser('chrome', **executable_path, headless=False)
base_url = 'https://marshemispheres.com/'
hemi_image_urls = []

for i, hemi in image_df.iterrows():
    tail = hemi["tail"]
    url = base_url + tail
    #print(f"{url}")
    browser.visit(url)
    time.sleep(2)
    html = browser.html
    Data = BeautifulSoup(html, "html.parser")
    image = Data.find_all(class_='wide-image')
    hemi_image_url =  url + image[0]['src']
    hemi_image_urls.append(hemi_image_url)
    
browser.quit()
hemi_image_df = pd.DataFrame(hemi_image_urls)
hemi_image_df

                                                   0
0  https://marshemispheres.com/cerberus.htmlimage...
1  https://marshemispheres.com/schiaparelli.htmli...
2  https://marshemispheres.com/syrtis.htmlimages/...
3  https://marshemispheres.com/valles.htmlimages/...

In [18]:
hemi_df = hemi_descr_df.copy()
hemi_df[["img_url"]] = hemi_image_df[[0]]
hemi_df.rename(columns={0: "title"}, inplace=True)
hemi_df.dropna(axis=0, inplace=True)
hemi_df
hemisphere_image_urls = hemi_df.to_dict('records')
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/cerberus.htmlimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/schiaparelli.htmlimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/syrtis.htmlimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/valles.htmlimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]